@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color : #1dd1a1;
    --active-color : #2ecc71;

}

body{
    background-color: #999;
    font-family: "Muli",poppins;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    flex-direction: column;
}

button{
    border: 2px solid var(--active-color);
    background-color: var(--primary-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #fff;
    padding: 1.5rem 3rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button:focus{
    outline: none;
}

.circle{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.3s ease-out;

}

@keyframes scale{
    to{
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}