@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color : #1dd1a1;
    --active-color : #2ecc71;

}

body{
    background-color: #f5f5f5;
    font-family: "Muli",poppins;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: url('https://images.unsplash.com/photo-1446776653964-20c1d3a81b06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80') no-repeat center /cover;
    z-index: -1;
    filter: blur(20px);

}
